C:\Users\Kunde\Documents\HIM\IBE160\SG-Nettgrupp1>npm run test:e2e

> ibe160-react@0.0.0 test:e2e
> playwright test


Running 6 tests using 2 workers

  ✓  1 ….ts:9:3 › Example Test Suite › should create user and login (2.3s)  ✓  2 …ple.spec.ts:4:3 › Example Test Suite › should load homepage (2.0s)Response status: 200
Response status text: OK
Response text: {"email":"Alia.Funk88@hotmail.com","name":"Edward Leffler III","password":"Z05SLVtTPtXn","id":7}
  ✓  3 …ple.spec.ts:4:3 › Example Test Suite › should load homepage (7.0s)  ✓  4 ….ts:9:3 › Example Test Suite › should create user and login (7.7s)Response status: 200
Response status text: OK
Response text: {"email":"Audra_OHara@yahoo.com","name":"Edward Hansen","password":"bWsmgNj4e8lT","id":8}
  ✓  5 …ple.spec.ts:4:3 › Example Test Suite › should load homepage (2.3s)  ✓  6 ….ts:9:3 › Example Test Suite › should create user and login (2.7s)Response status: 200
Response status text: OK
Response text: {"email":"Laurel.Bartoletti61@hotmail.com","name":"Billie Paucek","password":"kCB3alH68vaj","id":9}

  6 passed (28.1s)

To open last HTML report run:

  npx playwright show-report test-results\html


C:\Users\Kunde\Documents\HIM\IBE160\SG-Nettgrupp1>