PS C:\Users\Kunde\Documents\HIM\IBE160\SG-Nettgrupp1> npm run test:e2e -- --reporter=list

> ibe160-react@0.0.0 test:e2e    
> playwright test --reporter=list


Running 15 tests using 2 workers

  ✓   1 …ce Criteria Verification › AC2: A basic CI/CD pipeline is set up (68ms)  ✓   2 …rification › AC1: A Git repository is initialized and configured (29ms)  ✓   3 … › AC3: The application can be successfully accessed via its URL (1.5s)  ✓   4 …n › AC4: Basic project dependencies are installed and configured (11ms)  ✓   5 …rification › AC1: A Git repository is initialized and configured (41ms)  ✓   6 … › AC3: The application can be successfully accessed via its URL (5.3s)  ✓   7 …ce Criteria Verification › AC2: A basic CI/CD pipeline is set up (45ms)  ✓   8 …on › AC4: Basic project dependencies are installed and configured (9ms)  ✓   9 …rification › AC1: A Git repository is initialized and configured (30ms)  ✓  10 … › AC3: The application can be successfully accessed via its URL (2.3s)  ✓  11 …on › AC4: Basic project dependencies are installed and configured (7ms)  ✓  12 …ce Criteria Verification › AC2: A basic CI/CD pipeline is set up (28ms)  ✓  13 …ification › AC3: POST /api/products should create a new product (362ms)  ✓  14 …ion › AC3: GET /api/products/:id should return a single product (258ms)  ✓  15 …ation › AC3: GET /api/products should return a list of products (310ms)
  15 passed (24.7s)
PS C:\Users\Kunde\Documents\HIM\IBE160\SG-Nettgrupp1> 
